<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lg.cns.miniproject.repository.TeamRepository">
    <resultMap id="TeamResultMap" type="lg.cns.miniproject.entity.Team">
        <id property="teamId" column="team_id"/>
        <result property="teamName" column="team_name"/>
        <collection property="employeeList" ofType="Employee" resultMap="lg.cns.miniproject.repository.EmployeeRepository.EmployeeResultMap"/>
    </resultMap>
</mapper>



